{% extends "web/app/app_base.html" %}

{% load i18n %}

{% block page_title %}
  {% translate "Authentication Error" %}
{% endblock %}
{% block sidebar-nav %}
  {% with 'profile' as active_tab %}
    {{ block.super }}
  {% endwith %}
{% endblock %}
{% block app %}
  <div class="app-card">
    <h1 class="text-3xl font-bold mb-2">{% translate "Social Network Login Failure" %}</h1>
    <p class="text-xl mb-1">{% translate "An error occurred while attempting to login via your social network account." %}</p>
  </div>
{% endblock app %}
