{% extends "account/base.html" %}

{% load static %}
{% load i18n %}
{% load account %}
{% load form_tags %}

{% block content %}
  <h1 class="text-3xl font-bold mb-2">{% translate "Password Reset" %}</h1>
  {% if user.is_authenticated %}
    {% include "account/snippets/already_logged_in.html" %}
  {% endif %}
  <h2 class="text-xl mb-1">{% translate "Forgot your password? Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it." %}</h2>
  <form method="post"
        action="{% url 'account_reset_password' %}"
        class="password_reset">
    {% csrf_token %}
    {{ form.non_field_errors }}
    {% render_field form.email %}
    <div class="mt-2">
      <input class="btn btn-primary"
             type="submit"
             value="{% translate 'Send Password Reset' %}" />
    </div>
    <div class="mt-2 text-sm text-base-content/70">
      {% blocktranslate trimmed %}
        Please contact us if you have any trouble resetting your password.
      {% endblocktranslate %}
    </div>
  </form>
{% endblock %}
