{% extends "account/base.html" %}

{% load i18n %}

{% block content %}
  <h1 class="text-3xl font-bold mb-2">{% translate "Change Password" %}</h1>
  <div class="prose max-w-none lg:prose-lg">
    <p>
      {% blocktranslate trimmed %}
        Your password has been changed.
      {% endblocktranslate %}
    </p>
    <p>
      {% url 'account_login' as login_url %}
      {% blocktranslate trimmed %}
        You can now <a href="{{ login_url }}">login</a> with your new password.
      {% endblocktranslate %}
    </p>
  </div>
{% endblock %}
