{% extends "account/base.html" %}

{% load i18n %}

{% block content %}
  <h1 class="text-3xl font-bold mb-2">{% translate "Verify Your E-mail Address" %}</h1>
  <p>
    {% blocktranslate trimmed %}
      We have sent an e-mail to you for verification.
      Follow the link provided to finalize the signup process.
    {% endblocktranslate %}
  </p>
  <p>
    {% blocktranslate trimmed %}
      Please contact us if you do not receive it within a few minutes.
    {% endblocktranslate %}
  </p>
{% endblock %}
